In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [6]:
outerIndex = ["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [7]:
innerIndex = ["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [8]:
list(zip(outerIndex,innerIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [12]:
hierarchy = list(zip(outerIndex,innerIndex))

In [13]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [16]:
hierarchy

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [17]:
df = pd.DataFrame(randn(9,3),hierarchy,columns = ["Column1","Column2","Column3"])

In [18]:
df

                Column1   Column2   Column3
Group1 Index1 -0.857263 -0.886805  0.900174
       Index2  1.074859  0.689870  0.413807
       Index3 -0.144177  1.180453  0.560666
Group2 Index1 -0.187735  0.807732 -1.049834
       Index2  0.757610 -1.644972 -1.568467
       Index3  0.222633  0.158953  0.607364
Group3 Index1  0.292433  0.428243 -0.024441
       Index2 -0.316426 -0.082349  1.160137
       Index3 -0.477023  0.148195 -0.247895

In [19]:
df["Column1"]

Group1  Index1   -0.857263
        Index2    1.074859
        Index3   -0.144177
Group2  Index1   -0.187735
        Index2    0.757610
        Index3    0.222633
Group3  Index1    0.292433
        Index2   -0.316426
        Index3   -0.477023
Name: Column1, dtype: float64

In [20]:
df.loc["Group1"]

         Column1   Column2   Column3
Index1 -0.857263 -0.886805  0.900174
Index2  1.074859  0.689870  0.413807
Index3 -0.144177  1.180453  0.560666

In [23]:
df.loc[["Group1","Group2"]]

                Column1   Column2   Column3
Group1 Index1 -0.857263 -0.886805  0.900174
       Index2  1.074859  0.689870  0.413807
       Index3 -0.144177  1.180453  0.560666
Group2 Index1 -0.187735  0.807732 -1.049834
       Index2  0.757610 -1.644972 -1.568467
       Index3  0.222633  0.158953  0.607364

In [24]:
df.loc["Group1"].loc["Index1"]

Column1   -0.857263
Column2   -0.886805
Column3    0.900174
Name: Index1, dtype: float64

In [25]:
df.loc["Group1"].loc["Index1"]["Column1"]

-0.8572629027738706

In [26]:
df

                Column1   Column2   Column3
Group1 Index1 -0.857263 -0.886805  0.900174
       Index2  1.074859  0.689870  0.413807
       Index3 -0.144177  1.180453  0.560666
Group2 Index1 -0.187735  0.807732 -1.049834
       Index2  0.757610 -1.644972 -1.568467
       Index3  0.222633  0.158953  0.607364
Group3 Index1  0.292433  0.428243 -0.024441
       Index2 -0.316426 -0.082349  1.160137
       Index3 -0.477023  0.148195 -0.247895

In [27]:
df.index.names=["Groups","Indexes"]

In [28]:
df

                 Column1   Column2   Column3
Groups Indexes
Group1 Index1  -0.857263 -0.886805  0.900174
       Index2   1.074859  0.689870  0.413807
       Index3  -0.144177  1.180453  0.560666
Group2 Index1  -0.187735  0.807732 -1.049834
       Index2   0.757610 -1.644972 -1.568467
       Index3   0.222633  0.158953  0.607364
Group3 Index1   0.292433  0.428243 -0.024441
       Index2  -0.316426 -0.082349  1.160137
       Index3  -0.477023  0.148195 -0.247895

In [29]:
df.loc["Group1"]

          Column1   Column2   Column3
Indexes
Index1  -0.857263 -0.886805  0.900174
Index2   1.074859  0.689870  0.413807
Index3  -0.144177  1.180453  0.560666

In [30]:
df.xs("Group1") # yukarıdaki ile aynı sonucu alırız.

          Column1   Column2   Column3
Indexes
Index1  -0.857263 -0.886805  0.900174
Index2   1.074859  0.689870  0.413807
Index3  -0.144177  1.180453  0.560666

In [31]:
df.xs("Group1").xs("Index1")

Column1   -0.857263
Column2   -0.886805
Column3    0.900174
Name: Index1, dtype: float64

In [32]:
df.xs("Group1").xs("Index1").xs("Column1")

-0.8572629027738706

In [33]:
df.xs("Index1",level="Indexes")

         Column1   Column2   Column3
Groups
Group1 -0.857263 -0.886805  0.900174
Group2 -0.187735  0.807732 -1.049834
Group3  0.292433  0.428243 -0.024441