In [24]:
import numpy as np
import pandas as pd

In [25]:
from numpy.random import randn

In [27]:
df = pd.DataFrame(data = randn(3,3),index = ["A","B","C"], columns = ["Column1","Column2","Column3"])

In [28]:
df

    Column1   Column2   Column3
A -0.490233  0.911570  0.391043
B -0.364352  0.109073 -0.237852
C -1.079539 -0.309580  1.128355

In [30]:
df["Column3"]

A    0.391043
B   -0.237852
C    1.128355
Name: Column3, dtype: float64

In [31]:
type(df["Column3"])

pandas.core.series.Series

In [32]:
df.loc["B"]

Column1   -0.364352
Column2    0.109073
Column3   -0.237852
Name: B, dtype: float64

In [34]:
df[["Column1","Column3"]]

    Column1   Column3
A -0.490233  0.391043
B -0.364352 -0.237852
C -1.079539  1.128355

In [35]:
df.loc[["B","C"]]

    Column1   Column2   Column3
B -0.364352  0.109073 -0.237852
C -1.079539 -0.309580  1.128355

In [36]:
df["Column4"]= pd.Series(randn(3),["A","B","C"])

In [37]:
df

    Column1   Column2   Column3   Column4
A -0.490233  0.911570  0.391043  1.459153
B -0.364352  0.109073 -0.237852 -0.106704
C -1.079539 -0.309580  1.128355 -0.008871

In [38]:
df["Column5"]= df["Column1"]+df["Column2"]+df["Column3"]

In [39]:
df

    Column1   Column2   Column3   Column4   Column5
A -0.490233  0.911570  0.391043  1.459153  0.812380
B -0.364352  0.109073 -0.237852 -0.106704 -0.493132
C -1.079539 -0.309580  1.128355 -0.008871 -0.260765

In [40]:
df.drop("Column5",axis=1)

    Column1   Column2   Column3   Column4
A -0.490233  0.911570  0.391043  1.459153
B -0.364352  0.109073 -0.237852 -0.106704
C -1.079539 -0.309580  1.128355 -0.008871

In [41]:
df

    Column1   Column2   Column3   Column4   Column5
A -0.490233  0.911570  0.391043  1.459153  0.812380
B -0.364352  0.109073 -0.237852 -0.106704 -0.493132
C -1.079539 -0.309580  1.128355 -0.008871 -0.260765

In [42]:
df.drop("Column5",axis=1, inplace=True) # silme işleminin kayıt edilmesi için inplace = True yazılmalı.

In [43]:
df

    Column1   Column2   Column3   Column4
A -0.490233  0.911570  0.391043  1.459153
B -0.364352  0.109073 -0.237852 -0.106704
C -1.079539 -0.309580  1.128355 -0.008871

In [44]:
df.iloc[0] # = df.loc["A"]

Column1   -0.490233
Column2    0.911570
Column3    0.391043
Column4    1.459153
Name: A, dtype: float64

In [45]:
df.loc["A","Column1"]  # Column1 ve A daki değeri çekmek için

-0.49023348839803843

In [46]:
df.loc[["A","B"],["Column1","Column2"]]

    Column1   Column2
A -0.490233  0.911570
B -0.364352  0.109073