In [1]:
import numpy as np
import pandas as pd

In [2]:
arr =np.array([[10,20,np.nan],[5,np.nan,np.nan],[21,np.nan,10]])

In [3]:
arr

array([[10., 20., nan],
       [ 5., nan, nan],
       [21., nan, 10.]])

In [4]:
df = pd.DataFrame(arr, index = ["index1","index2","index3"],columns = ["Column1","Column2","Column3"])

In [5]:
df

        Column1  Column2  Column3
index1     10.0     20.0      NaN
index2      5.0      NaN      NaN
index3     21.0      NaN     10.0

In [6]:
df.dropna() # index satırlarına tek tek bakar (axis = 0 , axis = 1 olduğunda kolonlara bakar.) NaN(not a number) ise siler.

Empty DataFrame
Columns: [Column1, Column2, Column3]
Index: []

In [7]:
df.dropna(axis=1)

        Column1
index1     10.0
index2      5.0
index3     21.0

In [9]:
df.dropna(thresh =2) # bir index de en az NaN olmayan 2 ad. veri varsa, o indeksi silmez.

        Column1  Column2  Column3
index1     10.0     20.0      NaN
index3     21.0      NaN     10.0

In [10]:
df

        Column1  Column2  Column3
index1     10.0     20.0      NaN
index2      5.0      NaN      NaN
index3     21.0      NaN     10.0

In [11]:
df.fillna(value=1)            # NaN yerine başka değerler (örnekte 1) vermek isteyebiliriz.

        Column1  Column2  Column3
index1     10.0     20.0      1.0
index2      5.0      1.0      1.0
index3     21.0      1.0     10.0

In [12]:
df.sum()

Column1    36.0
Column2    20.0
Column3    10.0
dtype: float64

In [13]:
df.sum().sum()

66.0

In [17]:
df.size

9

In [19]:
df.isnull().sum()

Column1    0
Column2    2
Column3    2
dtype: int64

In [20]:
df.isnull().sum().sum()

4

In [21]:
def calculateMean(df):
    totalSum = df.sum().sum()
    totalNum = df.size - df.isnull().sum().sum()
    return totalSum/totalNum

In [22]:
df.fillna(value = calculateMean(df))

        Column1  Column2  Column3
index1     10.0     20.0     13.2
index2      5.0     13.2     13.2
index3     21.0     13.2     10.0

In [23]:
df # inplace parametresi tanımlanmadığı için dataframe güncellenmedi!!

        Column1  Column2  Column3
index1     10.0     20.0      NaN
index2      5.0      NaN      NaN
index3     21.0      NaN     10.0

In [24]:
df.fillna(value = calculateMean(df),inplace=True)

In [25]:
df

        Column1  Column2  Column3
index1     10.0     20.0     13.2
index2      5.0     13.2     13.2
index3     21.0     13.2     10.0